In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [2]:
fd=pd.read_csv("/Users/thomas/GA-DSI/curriculum/week-02/2.4-data-cleaning-lab/assets/datasets/billboard.csv")

In [23]:
fd.head(1)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,"3,38,00 AM",Rock,"September 23, 2000","November 18, 2000",78,63,49,...,*,*,*,*,*,*,*,*,*,*

In [19]:
x=dt.date('03:29:2016')

TypeError: an integer is required