In [1]:
# import modules

import pandas as pd
import numpy as np

In [2]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [4]:
# select the preTestScore column
df["preTestScore"].to_frame()

   preTestScore
0             4
1            24
2            31
3             2
4             3

In [6]:
# find the standard deviation of preTestScore 
df["preTestScore"].describe().to_frame()

       preTestScore
count      5.000000
mean      12.800000
std       13.663821
min        2.000000
25%        3.000000
50%        4.000000
75%       24.000000
max       31.000000

In [11]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
mean=df["preTestScore"].mean()
print mean
df[df["preTestScore"]>mean]

12.8

    name  age  preTestScore  postTestScore
1  Molly   52            24             94
2   Tina   36            31             57

In [16]:
# select the rows in preTestScore with scores greater than the mean
df[(df["preTestScore"])>(df["preTestScore"].mean())]

    name  age  preTestScore  postTestScore  Score Difference
1  Molly   52            24             94                70
2   Tina   36            31             57                26

In [13]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
df["Score Difference"]=df["postTestScore"]-df["preTestScore"]
df

    name  age  preTestScore  postTestScore  Score Difference
0  Jason   42             4             25                21
1  Molly   52            24             94                70
2   Tina   36            31             57                26
3   Jake   24             2             62                60
4    Amy   73             3             70                67